
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.overflows
  {
    max-height: 80vh;
    overflow-y: auto;
}
.stock-exceed {
  background-color: #ffe6e6; /* light red */
  animation: popRow 1s ease-in-out infinite alternate;
  font-weight: bold;
  transform-origin: center;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  border-left: 4px solid red;
  color:red !important
}

@keyframes popRow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
